#name {
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.portfolio-card {
  margin: 30px;
  float: left;
  /* display: block; */
}

.duration-station-pic {
  width: 500px;
  /* height: 350px; */
  padding: 5px;
}

.workday-gif {
  padding: 5px;
}

.code-quiz-gif {
  width: 600px;
  height: 350px;
  padding: 5px;
}

.about-me {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.card-body,
.card {
  background-color: #f5f6fa;
}

button:hover {
  outline-color: lightcyan;
}

.btn:hover {
  background-color: #f1c40f;
  border-color: white;
}

.about-me-txt {
  text-indent: 40px;
}

.clearfix {
  display: inline-block;
  width: 100%;
}

.btn {
  margin: 3px;
}

@media (max-width: 768px) {
  .portfolio-card {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .portfolio-card,
  .nav-link {
    width: 89% !important;
  }
}

.nav-link {
  letter-spacing: 1px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff !important;
  border-top: none;
  padding: 0;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li {
  margin-right: 10px;
  color: #fff !important;
  border-top: none;
}

.navbar-brand {
  padding: 0;
  color: #fff !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-top: 2px solid #9b59b6;
}

nav {
  z-index: 2;
}

.header-styles {
  background: url(space-header.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: white;
  text-transform: uppercase;
}

.profile-photo {
  width: 20rem;
  padding: 0.3rem;
  border-radius: 50%;
}

.photo-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.about-me-header {
  text-transform: uppercase;
  color: rebeccapurple;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles {
    display: none;
  }
}
