#name {
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.portfolio-photo {
  width: 40rem;
  padding: 2px;
}

.portfolio-photo-box {
  position: relative;
  margin: 10px;
}

button:hover {
  outline-color: lightcyan;
}

.btn:hover {
  background-color: #f1c40f;
  border-color: white;
}

.about-me-txt {
  text-indent: 40px;
}

/* .clearfix {
  display: inline-block;
  width: 100%;
} */

.btn {
  margin: 3px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .portfolio-photo-box,
  .portfolio-photo {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .nav-link {
    width: 89% !important;
  }
}

nav {
  z-index: 2;
}

nav a.nav-link {
  letter-spacing: 1px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 10px;
  color: #fff !important;
  border-top: none;
}

.navbar-brand {
  padding: 0;
  color: #fff !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-top: 2px solid rebeccapurple;
}

.header-styles {
  background: url(space-header.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
  position: relative;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: white;
  text-transform: uppercase;
}

.profile-photo {
  width: 20rem;
  padding: 0.3rem;
  border-radius: 50%;
}

.photo-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.about-me-header {
  text-transform: uppercase;
  color: rebeccapurple;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles {
    display: none;
  }
}

.footer {
  background: black;
  color: white;
  padding: 2px;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer a:hover {
  text-decoration: none;
  color: rebeccapurple;
  cursor: pointer;
}

.footer-div {
  text-align: auto;
  margin-top: 5px;
}

.footer-div-two {
  margin-top: 7px;
}
